#con-controls{
  display: flex; 
  justify-content: space-between;
  padding-bottom: 1rem;
}

#con-boardcontrols{
  /* display: inline-flex;
  flex-direction: column; */

  /* float: right; */
}

#con-boardcontrols button{
  background-color: transparent;
  color: #00F3CB;
  border: 1px solid #00F3CB;
  cursor: pointer;
  outline: none;
}

#con-speed{
  display: inline-flex;
}

.controls-buttons{
  /* display: block; */
}
#board {
  position: relative;
  outline: 1px solid cyan;
  box-shadow: 0 0 20px cyan;
}

.cell {
  float: left;
  width: 10px; height: 10px;
  border: 1px dashed #0A2137;
}

.cell-1 {
  background-color: rgba(0, 255, 255, 0.70);
}

.cell.cell-true{
  background-color: rgba(0, 255, 255, 0.31);
}

.slider {
  display: flex;
  align-items: center;
}

.slider label {
  font-size: 0.8rem;
  color: #00F3CB;
}

.start-first,
.start {
  display: block;
  position: absolute;
  left: 0; right: 0;
  width: 100%; height: 100%;
  background-color: rgba(1, 1, 1, 0.6);
  z-index: 10;
}

.start-first {
  background-color: black;
  background: linear-gradient(141deg, #000408 0%, #040D16 25%, #071B2F 75%);
}

.start,
#modal,
#modal > * {
  display: none;
}

#board:hover .start,
#board:hover #modal {
  display: block;
  position: absolute;
  left: 0; right: 0;
  width: 100%; height: 100%;
  background-color: rgba(1, 1, 1, 0.4);
  z-index: 10;
}

.start-first button,
.start button {
  position: absolute;
  top: 49%; left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #00F3CB;
  border: 2px solid #00F3CB;
  padding: 10px;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  text-transform: uppercase;
}
/* #modal {
  display: block;
  position: absolute;
  left: 0; right: 0;
  width: 100%; height: 100%;
  z-index: 10;
} */
#board:hover .modal-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 45%; left: 50%;
  text-transform: uppercase;
  cursor: pointer;  
  transform: translate(-50%, -50%);
}

#modal span{
  text-align: center;
  margin: 0; padding: 0;
  font-weight: 900;
  font-size: 3rem;
}
