@font-face {
  font-family: 'Belwe';
  src: url('./assets/font/belwe-bold.woff') format('woff'),
  url('./assets/font/belwe-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
}

html {
  background-color: #040D16;
  color: cadetblue;
}

.container {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  color: #00F3CB;
  font-family: 'Belwe', monospace;
}